<!DOCTYPE html>
<html>
<head>
    <title>Hello {{firstName}}</title>
</head> 
<body>
    {{> header}}
    <p>HELLO! {{firstName}}</p>
    
    {{debug}}
    
    {{ cardModel }}
        
    {{> footer }}  
</body>
</html>   