<header class="header">
   <div class="container">
        <div class="page-header">
             <h1 class="title">{{ pageTitle }}</h1>
             <p class="subtitle"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
   </div>
</header> 