{{#lists}}
<div class="pannel">
     <div class="container-fluid">
          <div class="row">
               <div class="col-xs-12 col-sm-5">
                    <img src="" alt="" class="img-responsive">
               </div>
               <div class="col-xs-12 col-sm-7">
                   {{title}}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium sit esse veniam reprehenderit adipisci, commodi nesciunt facere soluta ipsum eius eligendi, natus eos est quasi temporibus debitis, in dolores ex.
               </div>
          </div>
     </div>     
</div>
{{/lists}}