{{# cards }}
    <div class="card col-xs-6 col-md-4">
        <div class="card-wrapper">
            <div class="c-img">
                <a href="#" title="Pictures">
                    <img src="./assets/img/pictures.png" alt="Pictures">
                </a>
            </div>
            <div class="c-title">{{name}}</div>
            <div class="c-content">Vitae explicabo esse ipsa atque, voluptate a nostrum inventore neque repudiandae recusandae.</div>
        </div>  
    </div>
{{/ cards }}