<div class="side-block">
     <div class="block-wrapper">
          <div class="block-content">
               <h3 class="title">Address</h3>
               <address>Calle 5 I-178 Valles de Sta. Olaya, Bayamón PR 00956</address>
               <phone>787.999.9999</phone><br/>
               <email>info@devxlab.com</email>
               
          </div>
          <div class="block-content">
               <h3 class="title">Social</h3>
               <div>
                   <a href="#">
                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i> 
                   </a> 
                   <a href="#">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> 
                   </a> 
                   <a href="#">
                        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i> 
                   </a> 
                   <a href="#">
                        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                   </a> 
                   <a href="#">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                   </a> 
              </div>
          </div>
     </div>
</div>