
/****************
 * Base
 ****************/

body {
    background-color: #fcfcfc;
    font-family: helvetica, arial, sans-serif;
}

/****************
 * Layout
 ****************/

.main {
    
    .header { 
        background-color: #333;
        color: #fcfcfc;
         
         .page-header {
              
              h1.title {
                   
              }
              .subtitle { 
                   
              }              
         }
    }
    
    .content {
         
    }
     
    .sidebar { 
    }
 
    .footer {
        background-color: #333;
        color: #fcfcfc; 
    }
}

/****************
 * Modules
 ****************/
nav {
    
    &.navbar {  
         background-color: #333; 
         margin-bottom: 0;
         
        .navbar-brand { 
             
        }
     
         ul.navbar-nav {
              color: #e4e4e4; 
              
              li {                    
                   color: #e4e4e4;
                   
                   a {
                        background-color: transparent;
                        color: #e4e4e4;
                        &:hover {                   
                             background-color: transparent;
                             color: yellow;
                             transition: color .5s fade;
                        }
                        &:active {                   
                             background-color: transparent;
                             color: #fff;
                        }
                   }
              }
         }
         
         .navbar-toggle {
              .icon-bar {
                   background-color: #f4f4f4; 
              }
         }
         
    }
}

/**
 * Card Module
 */
        
.cards {
     margin-bottom: 50px;
     
     h2.title {
       color: #666;
       text-align: center;
       font-size: 32px;
       font-weight: bold;
       margin-bottom: 30px; 
     }
}

.card {    
    .card-wrapper {
         border: 1px solid #f4f4f4;
         box-shadow: 0 24px 22px #e5e5e5;
         border-radius: 4px;
         overflow: hidden;
                
        .c-title { color: #091AC5; }
        .c-img {}
        .c-content { color: #666; }
    }
}

/**
 * List Module
 */
        
.lists {
     margin-bottom: 50px;
     
     h2.title {
       color: #666;
       text-align: center;
       font-size: 32px;
       font-weight: bold;
       margin-bottom: 30px; 
     }
}

.list {        
    .list-wrapper {   
        
        .l-image {
            border: 1px solid #ccc;
        }
            
        .l-title { color: #091AC5; }
        
        .l-content { color: #666; }
    }
    
    &:last-child {
        border-bottom: 0;
    }
           
    &:nth-of-type(odd) {
        background-color: #f4f4f4;
    }
}