
/****************
 * Base
 ****************/

body {
    background-color: #fcfcfc;
    font-family: helvetica, arial, sans-serif;
}

/****************
 * Layout
 ****************/

.main {
    
    .header { 
        background-color: #0D0912;
        color: #fcfcfc;
         
         .page-header {
              
              h1.title {
                 font-weight: 600;                   
              }
              .subtitle { 
                 font-size: 24px;
                 font-weight: 100;
              } 
              
              .btn-cta-on, .btn-cta-off {                   
                   border: 2px solid;
                   margin: auto;
                   
              }
              .btn-cta-on { 
                   color: #FFFFFF;
                   background-color: #3AFFA1;
                   border: 2px solid #3AFFA1; 
                   
                   &:hover {
                        color: #FFFFFF;
                        background-color: transparent;
                        border: 2px solid #3AFFA1;
                   }
                   
              }
              .btn-cta-off { 
                   color: #FFFFFF;
                   background-color: transparent;
                   border: 2px solid #3AFFA1; 
                   
                   &:hover {
                        color: #FFFFFF;
                        background-color: #3AFFA1;
                        border: 2px solid #3AFFA1; 
                   }
              }
         }
    }
    
    .content {
         
    }
     
    .sidebar { 
    }
 
    .footer {
        background-color: #0D0912;
        color: #fcfcfc; 
    }
}

/****************
 * Modules
 ****************/
nav {
    
    &.navbar {  
         background-color: #0D0912; 
         margin-bottom: 0;
         
        .navbar-brand { 
              background-color: #FB1D5E;              
        }
     
         ul.navbar-nav {
              color: #ffffff; 
              li {                    
                   color: #ffffff;
                   font-size: 22px;
                   font-weight: 100;
                   
                   a {
                        background-color: transparent;
                        color: #ffffff;
                        &:hover {                   
                             background-color: transparent;
                             color: #FB1D5E;
                             transition: color .5s fade;
                        }
                        &.active {                   
                             background-color: transparent;
                             color: #FB1D5E;
                        }
                   }                 
              }
         }
         
         .navbar-toggle {
              .icon-bar {
                   background-color: #FB1D5E; 
              }
         }
         
    }
}

/**
 * Card Module Colors
 */
        
.cards {
     h2.title {
       color: #0D0912;
       text-align: left;
     }
     a, a:hover { text-decoration: none; }
}

.card {   
    .card-wrapper {                
        .c-title { color: #FB1D5E; }
        .c-image {}
        .c-content { color: #0D0912; }
    }
}

/**
 * List Module Colors
 */
        
.lists {
     h2.title {
       color: #0D0912;
       text-align: left;
     }
     a, a:hover { text-decoration: none; }
}

.list {        
    .list-wrapper {   
            
        .l-title { color: #FB1D5E; }
         
         .l-image {}
        
        .l-content { color: #0D0912; }
    }
           
    &:nth-of-type(odd) {
        background-color: #f4f4f4;
    }
}