
/****************
 * Base
 ****************/

body {
    background-color: #fcfcfc;
    font-family: helvetica, arial, sans-serif;
}

/****************
 * Layout
 ****************/
nav {
}

.main {
    
    .header { 
        background-color: #333;
        color: #fcfcfc;
    }
    
    .content {
        
        .services {
            background-color: #f4f4f4;
            
            h2.title {
                color: #666;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
            }
            
        }
        
        .cards {
            background-color: #fff;
        }
        
        .lists {
            background-color: #e5e5e5;
        }
    }
    .sidebar {       
        
        .s-content {
            background-color: #333;
            
            .s-title {
                color: #fff;
            }
        }
        
        .lists {
            background-color: #f4f4f4;
        }
    }
 
    .footer {
        background-color: #333;
        color: #fcfcfc;
    }
}

/****************
 * Modules
 ****************/
nav {
    
    &.navbar {        
        .brand { 
            border: 1px solid #e4e4e4;
        }
        .primary-menu {            
            li {
                border: 1px solid #e4e4e4;
            }
        } 
    }
}

/**
 * Card Module
 */

.card {
    border: 1px solid #f4f4f4;
    border-radius: 7px;
    box-shadow: 0 4px 2px #f4f4f4;
    
    .card-wrapper {        
        .c-title { color: #091AC5; }
        .c-img {  }
        .c-content { color: #666; }
    }
}

/**
 * List Module
 */

.list {    
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    
    .list-wrapper {   
        display: inline-block;
        width: 100%;
        
        .l-image {
            border: 1px solid #ccc;
        }
            
        .l-title { color: #091AC5; }
        
        .l-content { color: #666; }
    }
    
    &:last-child {
        border-bottom: 0;
    }
           
    &:nth-of-type(odd) {
        background-color: #e5e5e5;
    }
}